<!-- Modal -->
<div class="modal fade" id="infowindowmodal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- CAROUSEL -->

        <div id="panorama" [hidden]="apartment.details?.images.length !== 0"></div>
        <div class="carouselWrapper" [hidden]="apartment.details?.images.length === 0">
          <!--Carousel Wrapper-->
          <mdb-carousel [isControls]="true" [animation]="'slide'" >
            <mdb-carousel-item *ngFor="let apartmentImg of apartment.details?.images; let i = index">
              <img class="d-block w-100" [src]='apartmentImg'>
            </mdb-carousel-item>
          </mdb-carousel>
          <!--/.Carousel Wrapper-->
        </div>


      </div>
      <div class="modal-body">
        <div class="markerCarouselDetails row">
          <div class="col s4 col m2">
            <h5>
              <span>{{apartment.details?.apartment_type !== "" ? apartment.details?.apartment_type : 'דירה'}}</span> ,
              <span>{{apartment.details?.price}} </span>
              <span>
                <img src="assets/images/icons/coins/ils.png" />
              </span>
            </h5>
            <h6>{{apartment?.details?.address}}</h6>

            <p>
              <span>
                <b>תיאור: </b>
              </span>{{apartment.details?.info}}</p>

            <p>
              <img src="assets/images/icons/floor.png" />
              <span> קומה: {{apartment.details?.floor}}</span>
            </p>
            <p>
              <img src="assets/images/icons/rooms.png" />
              <span> חדרים: {{apartment.details?.rooms}}</span>
            </p>
            <p>
              <img src="assets/images/icons/toilets.png" />
              <span> שירותים: {{apartment.details?.toilets}}</span>
            </p>


            <p>
              <img src="assets/images/icons/size.png" />
              <span> גודל: {{apartment.details?.size}}</span>
            </p>

            <p>
              <img src="assets/images/icons/entrence_date.png" />
              <span> כניסה: {{apartment.details?.entrance_date | date}} </span>
            </p>
          </div>

          <div class="col-sm-12 col-md-4 markerOwnerContact">
            <h5>
              <span>צור קשר</span>
            </h5>
            <h6>
              <img src="assets/images/icons/owner.png" />
              <span>{{apartment.publisher?.name}}</span>
            </h6>
            <h6>
              <img src="assets/images/icons/email.png" />
              <span>{{apartment.publisher?.email}}</span>
            </h6>
            <h6>
              <img src="assets/images/icons/phone.png" />
              <span class="ownerPhone" *ngFor="let apartmentPhone of apartment.publisher?.phones">
                <a href="tel:{{apartmentPhone}}">{{apartmentPhone}}</a>
              </span>
            </h6>

            <div class="input-field col s12">
              <textarea id="notes" class="notes red-text" placeholder="הערות אישיות"></textarea>
            </div>
          </div>

        </div>
      </div>

      <div class="apartmentModalChatWrapper ng-scope">
        <h3>צ׳אט</h3>
        <div class="apartmentModalChat">
          <article id="apartmentModalChatHistory"></article>
          <div class="chatButtons">
            <input type="text" class="form-control" placeholder="כתוב...">
            <button type="button" class="btn btn-primary ">שלח</button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="col s12" [ngClass]="{ 'disableGrey': !loggedIn }">
          <span class="heart" (click)="markerHeart($event)">
            <img [src]="apartment?.user?.favorite ? 'assets/images/icons/heart-full.png' : 'assets/images/icons/heart.png'" />
          </span>
          <span class="blackList" (click)="markerBlackList($event)">
            <img [src]="apartment?.user?.favorite ? 'assets/images/icons/black-list-full.png' : 'assets/images/icons/black-list.png'" />
          </span>
          <span (click)="calendar(apartment)">
            <img src="assets/images/icons/calendar.png" class="modal-action modal-close waves-effect">
          </span>

          <span (click)="shareFacebook(apartment)" class="fb-share-button">
            <img src="assets/images/icons/facebook.png" />
          </span>
          <span *ngIf="apartment.publisher?.phones !== null" (click)="sendWhatsapp(apartment.publisher.phones[0])">
            <img src="assets/images/icons/whatsapp.png" />
          </span>
          <span>
            <a *ngIf="apartment.publisher?.email  !== null" (click)="sendMail(apartment)">
              <img src="assets/images/icons/gmail.png" />
            </a>
          </span>
          <span class="hide-on-large-only" *ngIf="mobile">
            <a (click)="openWaze(apartment)">
              <img src="assets/images/icons/waze_icon.png" />
            </a>
          </span>
          <span (click)="print()">
            <img src="assets/images/icons/printer.png" />
          </span>
        </div>
        <div class="col s12">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
        </div>

      </div>
    </div>



  </div>
</div>