<div class="modal fade  advencedFilterModalWrapper" id="advancedFiltersModal" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  <div class="modal-content modal-dialog modal-lg" role="document">
    <h6>סינון</h6>
    <form (ngSubmit)="submitFilters()" #advancedFiltersForm="ngForm">

      <!-- advancedFilter -->
      <div class="row filters">
        <div *ngFor="let filter of advancedFilters; let i = index" class=" advancedFilter col s2 right">
          <div class="switch">
            <label>
              <div class="switchIcon">
                <img src="assets/images/icons/{{filter.filterName}}.png" />
              </div>
              <span>{{filter.name}}</span>
              <input type="checkbox" [(ngModel)]="advancedFilters[i].filter" [name]="'filter'+i">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="lovedApartments">
            <div class="btn blue lighten-1 hvr-sweep-to-left w-100" name="favFilterImg" (click)="getFavorites()">
              <span> מודעות שאהבתי </span>
              <img [src]="favFilterImg ? 'assets/images/icons/heart-full.png' : 'assets/images/icons/heart.png'" class="heart" />
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="imageApartments">
            <div class="btn blue lighten-1 hvr-sweep-to-left w-100" name="imgFilterImg" (click)="imgFilterImg = !imgFilterImg">
              <span>  תמונות בלבד </span>
              <img [src]="imgFilterImg ? 'assets/images/icons/apartment_image-full.png' : 'assets/images/icons/apartment_image.png'" class="heart"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col s6">
            <div class="blackListApartments">
              <div class="btn blue lighten-1 hvr-sweep-to-left w-100" name="blackListFilter" (click)="getBlackList()">
                <span> הצג מודעות שהסתרתי </span>
                <img [src]="blackListFilter ? 'assets/images/icons/eye-full.png' : 'assets/images/icons/eye.png'" class="heart" />
              </div>
            </div>
          </div>
          </div>

      <nouislider #sliderRef style="width:100%" [config]="rangeConfig"></nouislider>


      <div class="row">
        <!-- apartment publisher -->
          <div class="input-field col s2 apartmentPublisherType">
              <select [(ngModel)]="filtersObj.publisher.type" name="apartmentPublisherType" required>
                  <option selected value="" disabled>בעלות</option>
                  <option value="private">פרטי</option>
                   <option value="broker">תיווך</option>
              </select>
          </div>
        <!-- apartmentType -->
        <div class="input-field col s2 apartmentType">
          <select [(ngModel)]="filtersObj.apartment_type" name="apartmentType" required>
            <option value="" selected disabled>סוג נכס</option>
            <option value="all">הכל</option>
            <option value="דירה">דירה</option>
            <option value="דירת גן">דירת גן</option>
            <option value="פרטי">פרטי</option>
          </select>
        </div>
        <!--apartmentRooms-->
        <div class="input-field col s2 apartmentRooms">
          <select [(ngModel)]="filtersObj.rooms" name="apartmentRooms" required>
            <option value="" disabled selected>מספר חדרים</option>
            <option value="1">1</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
            <option value="6">6+</option>
            <option value="7">7+</option>
            <option value="8">8+</option>
          </select>
        </div>
        <!--apartmentFloor-->
        <div class="input-field col s2 apartmentFloor">
          <select [(ngModel)]="filtersObj.floor" name="apartmentFloor" required>
            <option value="" disabled selected>קומה</option>
            <option value="0">0</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
            <option value="10">10+</option>
            <option value="20">20+</option>
            <option value="30">30+</option>
          </select>
        </div>
        <!--apartmentToilets-->
        <div class="input-field col s2 apartmentToilets">
          <select [(ngModel)]="filtersObj.toilets" name="apartmentToilets" required>
            <option value="" disabled selected>שירותים</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Filter!</button>
    </form>
  </div>
</div>