.sidenav .divider {
    margin: 8px 0;
}
.sidenav .user-view{    padding: 32px;}
.navDetails{
    text-align: right;
}
.sidenav{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.activeLink{
    color:#42A5F5;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background: #00000047;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
    width: 100%;
}