
<!-- Edit Modal -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modal-dialog modal-dialog-centered modal-lg text-right" role="document">
    <div class="modal-content">
      <h6><b>עריכת נכס</b></h6>
      <table class="table table-hover">
        <thead>
          <tr>

            <th>כתובת</th>
            <th>מחיר</th>
            <th>טלפון</th>
            <th>מחק נכס</th>
          </tr> 
        </thead>
        <tbody>
          <tr *ngFor="let d of data" (click)="openEditModalOutput(d)"
        
         >
            <td>{{d.details.address}}</td>
            <td>{{d.details.price}}</td>
            <td>
              <span *ngFor="let phone of d.publisher.phones">
                {{phone}}
                <br />
              </span>
            </td>
            <td (click)="deleteApartment(d._id,$event)">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>