   <!-------------------------->
                <!-- Tap Target Structure -->
                <!-------------------------->
                <div class="tap-target" data-target="menu" *ngIf="!mobile" (click)="removeBlurClick()">
                    <div class="tap-target-content">
                        <h5>MapMap</h5>
                        <p>...תהנו</p>
                    </div>
                </div>

                <!-------------------------->
                <!-- Floating Action Button -->
                <!-------------------------->
                <div class="fixed-action-btn" [hidden]="mobile" id="menu" (click)="removeBlurClick()">
                    <a class="btn-floating btn-large blueColor">
                        <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                       

                        <li>
                            <button
                                class="btn-floating red hide"
                                [ngClass]="{ 'show': loggedIn }"
                                routerLink="/new"  
                                id="newApartmentWindowModalBT"
                                data-toggle="modal"
                                data-target="#newApartmentWindowModal"
                                #apartmentModal
                                >
                                <span class="floatingText red">הוספת דירה חדשה</span>
                                <i class="material-icons">publish</i>
                        </button>
                        </li>

                        <li>
                            <button
                                class="btn-floating purple lighten-3 hide"
                                [ngClass]="{ 'show': loggedIn }"
                                data-toggle="modal"
                                (click)="getApartments()"
                                routerLink="/edit-apartments"
                                id="editModalBT" 
                                data-target="#editModal">
                                <span class="floatingText purple lighten-3">פאנל עריכה</span>
                                <i class="material-icons">person</i>
                            </button>
                        </li>
                        <li>
                            <button
                                class="btn-floating yellow darken-1"
                                data-toggle="modal" 
                                id="advancedFiltersModalBT"
                                routerLink="/filters"  
                                data-target="#advancedFiltersModal">
                                <span class="floatingText yellow darken-1">פילטרים</span>
                                <i class="material-icons">filter</i>
                            </button>
                        </li>
                        <li>
                            <button class="btn-floating green" (click)="changeView()"
                            routerLink="/{{viewObj.view}}" >
                                <span class="floatingText green">תצוגת
                                    {{viewObj.nextView}}</span>
                                <i class="material-icons">pageview</i>
                            </button>
                        </li>
                        <li>
                            <button class="btn-floating blue" data-toggle="modal" data-target="#contracts">
                                <span class="floatingText blue">חוזים</span>
                                <i class="material-icons">attach_file</i>
                            </button>
                        </li>
                    </ul>
                </div>