<!-- NAV -->
<app-nav [mobile]="mobile" (logout)="logout()" (click)="removeBlur()" (getApartmentsOutput)="getApartments()"></app-nav>

<!-- Floating circle Menu -->
<app-floating-menu  [mobile]="mobile" (removeBlur)="removeBlur()" (getApartmentsOutput)="getApartments()"></app-floating-menu>

<!-- Search -->
<app-search [ngClass]="{ 'hide': view == 'admin' }" (click)="blur = true" (searchRefOutput)="initAutoComplete($event)"></app-search>

<div class="blurSection" [ngClass]="{ 'blur': blur }" (click)="removeBlur()">

    <!-- Login -->
    <app-login></app-login>
    <button #editButtonModal data-toggle="modal" data-target="#newApartmentWindowModal" style="display:none" id="editButtonModalBT"></button>

    <!-- Contracts Modal -->
    <app-contracts></app-contracts>
    
    <!-- MAP -->
    <app-map [ngClass]="{ 'hide': view !== 'table' }"></app-map>

    <router-outlet></router-outlet>

</div>