a {
    font-weight: 400;
    font-size: 1rem;
}

.publishBT nav i,
nav i.material-icons {
    line-height: initial !important;
    height: 22px !important;
    line-height: 1 !important;
}
.publishBT {
    margin-right: 10px;
}

.userProfile img {
    width: 40px;
    border-radius: 50px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.blurSection {
    width: 100%;
    height: 95vh;
}
.hide{
    display: none;
}

@media only screen and (max-width: 600px) {

    agm-map {
        height: 94vh;
    }
    .searchField:focus-within {
        width: 320px;
    }
}
