<!-- MAP -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" 
  (mapRightClick)="mapRightClick($event)" (mapReady)="mapReady($event)"
 
>
  <!-- MARKERS -->
  <agm-marker #markers [iconUrl]="a.publisher?.type == 'private' ? markerPrivateIcon : markerBrokerIcon" *ngFor="let a of markers "
   [latitude]="a.location.coordinates[0]" [longitude]="a.location.coordinates[1]" (markerClick)="openApartment(a,infowindow)">
     <!-- INFO WINDOW -->
     <agm-info-window [disableAutoPan]="true" #infowindow>
        <app-infowindow  [apartment]="apartmentInfo"   [ngClass]="[invisibleInfoWindow ? 'invisible' : '']"></app-infowindow>
     </agm-info-window>
  </agm-marker>
 <agm-direction *ngIf="origin && destination" [origin]="origin" [destination]="destination" >
    </agm-direction>
  
</agm-map>


