
/*search*/
.searchField {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 60px;
    width: 320px;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    background: #ffffff9c;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
}
.resultsInfo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
}
.searchField > input {
    display: block;
    width: 70% !important;
    direction: rtl;
    margin-top: 1% !important;
    margin-bottom: 2% !important;
    text-align: right;
    margin: 0 27%;
}
.btn-search {
    position: absolute;
    top: 4px;
    left: 15px;
}
.searchField:focus-within {
    background: #fff;
    -webkit-transition: width 0.3s linear;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.3s linear;
    width: 520px;

    background: #ffffff;
    border: 1px solid #000;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
    font-family: 'Gloria Hallelujah','Assistant',Arial, sans-serif;
}


@media only screen and (max-width: 600px) {
    .searchField:focus-within {
        width: auto;
    }
}