  <!-- Modal Structure -->
  <div class="modal fade" id="newApartmentWindowModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <form #apartmentForm="ngForm" (ngSubmit)="publishNewApartment(apartmentForm)">
          <h6>פרסם נכס חדש!</h6>
          <hr>
          <div class="row">
            <div class="col s12">

              <!-- Name -->
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <label for="inputFirstName" [ngClass]="[name.invalid && name.dirty  ? 'red-text' : ' grey-text ' , apartment.publisher.name  ? 'active' : '']"
               >שם מלא</label>
                <input type="text" [(ngModel)]="apartment.publisher.name" #name="ngModel" name="name" id="inputFirstName" minlength="2" maxlength="20"
                
                  (focus)="submittedError = false" required>
                <span data-error="" data-success="right" *ngIf="name.invalid && (name.dirty || name.touched) ||  submittedError">
                  <span *ngIf="name.errors?.required" class="helper-text red-text"> אנא מלא שם</span>
                  <span *ngIf="name.errors?.minlength" class="helper-text red-text"> אנא הזן לפחות 2 תווים</span>
                  <span *ngIf="name.errors?.maxlength" class="helper-text red-text"> אנא הזן עד 20 תווים</span>
                </span>

              </div>
              <!-- Phone -->
              <div class="input-field col s6 right"  style="clear: right;" *ngFor="let phoneNumber of apartment.publisher.phones; let i = index; trackBy:trackByFn">
                    <i class="material-icons prefix">phone</i>
                        <input type="number" class="phones" [(ngModel)]="apartment.publisher.phones[i]" #phone="ngModel" [name]="'phone-'+i" id="icon_telephone-{{i}}"
                        pattern=".{9,15}" required (focus)="submittedError = false">
                        <label for="icon_telephone-{{i}}" [ngClass]="phone.invalid && phone.dirty  ? 'red-text' : 'grey-text'">טלפון</label>
                        <span data-error="" data-success="right" *ngIf="phone.invalid && (phone.dirty || phone.touched) ||  submittedError">
                            <span *ngIf="phone.errors?.required" class="helper-text red-text"> אנא מלא טלפון</span>
                            <span *ngIf="phone.errors?.pattern" class="helper-text red-text"> הטלפון חייב להיות בין 9-15 ספרות</span>
                          </span>
                          <button class="btn left modal-close waves-effect  btn-flat" (click)="confirmPhoneByToast(phone)" type="button">בדוק!</button>
                
                  
              </div>
              
              <button class="btn left modal-close waves-effect  btn-flat addPhone" (click)="addPhone()" type="button">הוסף!</button>
            </div>
          </div>
          <div class="row">
            <div class="col s12">

              <!-- Price -->
              <div class="input-field col s6">
                <i class="material-icons prefix">
                  <img src="assets/images/icons/coins/ils.png" />
                </i>
                <input [(ngModel)]="apartment.details.price" #price="ngModel" name="price" id="inputPrice" type="number" data-length="10"
                  class="validate" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9,.]{3,10}"
                  (focus)="submittedError = false" />
                <label for="inputPrice" [ngClass]="price.invalid && price.dirty  ? 'red-text' : 'grey-text'">מחיר</label>
                <span data-error="" data-success="right" *ngIf="price.invalid && (price.dirty || price.touched) ||  submittedError">
                  <span *ngIf="price.errors?.required" class="helper-text red-text"> אנא הזן מחיר</span>
                  <span *ngIf="price.errors?.pattern" class="helper-text red-text"> המחיר חייב להיות בן 3-10 ספרות</span>
                </span>

              </div>
              <!-- Email -->
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input [(ngModel)]="apartment.publisher.email" name="email" id="inputMail" type="email" data-length="30" (focus)="submittedError = false"
                  min="10" max="15" #email="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" />
                <label for="inputMail" [ngClass]="[email.invalid && email.dirty  ? 'red-text' : 'grey-text' , apartment.publisher.email  ? 'active' : '']">אימייל</label>
                <span data-error="" data-success="right" *ngIf="email.invalid && (email.dirty || email.touched)||  submittedError">
                  <span *ngIf="email.errors?.required" class="helper-text red-text"> אנא רשום אימייל</span>
                  <span *ngIf="email.errors?.pattern" class="helper-text red-text"> אימייל לא חוקי</span>
                </span>
              </div>


            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <!-- Date -->
              <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input type="date" #date="ngModel" [(ngModel)]="apartment.details.entrance_date" name="date" id="inputDate" required (focus)="submittedError = false"
                />
                <label for="inputMail" [ngClass]="date.invalid && date.dirty  ? 'red-text' : 'grey-text'">תאריך</label>
                <span data-error="" data-success="right" *ngIf="date.invalid && (date.dirty || date.touched) ||  submittedError">
                  <span *ngIf="date.errors?.required" class="helper-text red-text"> אנא הזן תאריך</span>
                </span>
              </div>

              <!-- size -->
              <div class="input-field col s6">
                <input #size="ngModel" [(ngModel)]="apartment.details.size" name="size" id="inputSize" type="number" class="validate apartmentSize"
                  pattern=".{2,10000}" />
                <label for="inputSize" [ngClass]="name.invalid && name.dirty  ? 'red-text' : 'grey-text'">גודל</label>
                <span data-error="" data-success="right" *ngIf="size.invalid && (size.dirty || size.touched) ||  submittedError">
                  <span *ngIf="size.errors?.pattern" class="helper-text red-text"> גודל הדירה חייב להיות מעל 2 תווים</span>
                </span>
              </div>
            </div>
          </div>




          <!-- Location -->
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input #search="ngModel" name="location" [(ngModel)]="apartment.details.address" autocorrect="off" autocapitalize="off"
              spellcheck="off" required class="form-control mr-sm-2 " type="search" id="inputLocation" placeholder="חפש מיקום..."
              aria-label="Search">
            <label for="inputLocation" [ngClass]="search.invalid && search.dirty  ? 'red-text' : ''">מיקום</label>
            <span data-error="" data-success="right" *ngIf="search.invalid && (search.dirty || search.touched) || submittedError">
              <span *ngIf="search.errors?.required" class="helper-text red-text"> אנא הזן מיקום</span>
            </span>
          </div>

          <!-- Description info -->
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">create</i>
              <textarea #description="ngModel" [(ngModel)]="apartment.details.info" name="description" id="inputDescription" class="materialize-textarea"
                data-length="250" class="materialize-textarea" minlength="30" maxlength="250"></textarea>
              <label for="inputDescription" [ngClass]="description.invalid && description.dirty  ? 'blue-text' : 'grey-text'">מידע נוסף...</label>
              <span data-error="" data-success="right" *ngIf="description.invalid && (description.dirty || description.touched) ||  submittedError">
                <span *ngIf="description.errors?.minlength" class="helper-text blue-text"> אנא הזן לפחות 30 תווים</span>
                <span *ngIf="description.errors?.maxlength" class="helper-text red-text"> מידע נוסף מוגבל עד 250 תווים</span>
              </span>
            </div>


          </div>

          <!-- Images -->
          <app-image-uploader (images)="addImagesToForm($event)" [addImagesToFormInput]="addImagesToFormOutPutArr"></app-image-uploader>
          <!-- [(ngModel)]="apartment.images" -->

          <!-- advancedFilter -->
          <div class="form-row row">
            <div *ngFor="let filter of advancedFilters" class="advancedFilters advancedFilter col-sm-4 col-md-2">
              <div class="switch">
                <label>
                  <div class="switchIcon">
                    <img src="assets/images/icons/{{filter.filterName}}.png" />
                  </div>
                  <span>{{filter.name}}</span>

                  <input [(ngModel)]="apartment.filters[filter.filterName]" [name]="filter.filterName"  type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- apartmentType -->
            <div class="input-field col s2 apartmentType">
            <select [(ngModel)]="apartment.details.apartment_type" name="apartmentType">
                  <option value="" disabled>סוג נכס</option>
                  <option *ngFor="let type of apartment_types" [value]="type" [selected]="type==apartment.details.apartment_type">{{type}}</option>
              </select>
            </div>
            <!--apartmentRooms-->
            <div class="input-field col s2 apartmentRooms">

                <select [(ngModel)]="apartment.details.rooms" name="apartmentRooms">
                    <option value="" disabled>מספר חדרים</option>
                    <option *ngFor="let rooms of apartment_rooms" [value]="rooms" [selected]="rooms==apartment.details.rooms">{{rooms}} חדרים</option>
                </select>
            </div>
            <!--apartmentFloor-->
            <div class="input-field col s2 apartmentFloor">

                <select [(ngModel)]="apartment.details.floor" name="apartmentFloor">
                    <option value="" disabled>קומה</option>
                    <option *ngFor="let floor of apartment_floor" [value]="floor" [selected]="floor==apartment.details.floor">{{floor}} {{floor > 9 ? 'קומות' : 'קומה'}}</option>
                </select>
            </div>
            <!--apartmentToilets-->
            <div class="input-field col s2 apartmentToilets">
                <select [(ngModel)]="apartment.details.toilets" name="apartmentToilets">
                    <option value="" disabled>שירותים</option>
                    <option *ngFor="let toilets of apartment_toilets" [value]="toilets" [selected]="toilets==apartment.details.toilets">{{toilets}} שירותים</option>
                </select>

            
            </div>
             <!--apartmentPublisherType-->
             <div class="input-field col s2 apartmentPublisherType">
              <select [(ngModel)]="apartment.publisher.type" name="apartmentPublisherType">
                  <option value="" disabled>בעלות</option>
                  <option *ngFor="let publisherType of apartment_publisherType" [value]="publisherType.eng" [selected]="publisherType.eng==apartment.publisher.type">{{publisherType.heb}}</option>
              </select>

          
          </div>
          </div>

          <div class="modal-footer">
              <button class="btn left modal-close waves-effect  btn-flat" type="submit">
                  <span>
                    !פרסם
                  </span>
                </button>
                
            <button class="btn  modal-close waves-effect  btn-flat" data-dismiss="modal" type="button">
              <span>
                בטל
              </span>
            </button>
           
          </div>


          <!-- TODO -->
          <input type="hidden" [(ngModel)]="apartment.id" name="publisher_user_id" value="123" />
        </form>
      </div>
    </div>
  </div>