
<div class="cardsWrapper">
  <div class="row justify-content-center">
  <div *ngFor="let a of filteredData " class="card  col-sm-6 col-md-3 col-lg-2 z-depth-5 materialboxed">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" [src]='a.details.images.length > 0 ? a.details.images[0] : "assets/images/apartments/no_image.jpg"' #img (error)="img.src = 'assets/images/apartments/no_image.jpg'">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{a.details.apartment_type !== '' ? a.details.apartment_type  : 'דירה'}}
        <i class="material-icons left">more_vert</i>
      </span>
      <p class="activator">{{a.details.price}}</p>
      <p class="cardAddress activator">
       {{a.details.address}}
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
           {{a.details.address}}
      </span>
      <p class="cardInfo">{{a.details.info}}</p>
    </div>
  </div>
</div>
</div>